* {
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(212, 45%, 89%);
    font-size: 15px;
    font-family: 'Outfit', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 1px);
    margin: 1.25rem;
}

.container {
    padding: 1.25rem;
    margin-bottom: 2rem;
    background-color: white;
    border: none;
    border-radius: 15px;
    box-shadow: 1px 1px 38px -9px rgba(0, 0, 0, 0.48);
    -webkit-box-shadow: 1px 1px 38px -9px rgba(0, 0, 0, 0.48);
    -moz-box-shadow: 1px 1px 38px -9px rgba(0, 0, 0, 0.48);
}

img {
    max-width: 100%;
}

.container img {
    border-radius: 0.625rem;
    margin-bottom: 1rem;
}

.container h1 {
    text-align: center;
    color: hsl(218, 44%, 22%);
    margin-bottom: 1rem;
}

.container p {
    text-align: center;
    color: hsl(220, 15%, 55%);
}

@media (min-width:500px) {
    .container {
        width: 400px;
    }
}


.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}